
.add-user-page-container {
    padding: 20px;
    background-color: #f8f9fa; 
    max-width: 700px; 
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}



.add-user-form-layout {
    
}

.add-user-page-container .form-group {
    margin-bottom: 18px; 
}

.add-user-page-container .form-control,
.add-user-page-container .form-control-readonly {
    padding: 9px 12px; 
}


.is-invalid {
    border-color: #dc3545; 
}
.is-invalid:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); 
}

.invalid-feedback {
    display: block; /* Hiển thị message lỗi */
    width: 100%;
    margin-top: .25rem;
    font-size: .875em; /* 87.5% của font-size cha */
    color: #dc3545; 
}


.upload-photo-section {
    text-align: center; 
    margin-top: 20px;
}
.avatar-preview-container {
    margin-bottom: 10px;
}
.avatar-preview {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}
.form-control-file {
    display: block;
    margin: 0 auto; 
    width: fit-content;
}