.project-info-container {
  display: flex;
  gap: 20px;
  background-color: white;
  align-items: stretch;
  padding: 20px 0 20px 20px;
  margin-right: 8px;
  border-radius: 15px;
}

.project-details {
  flex: 1;
  /* Chiếm phần lớn không gian còn lại */
  padding: 10px 10px;
}

.project-members {
  width: 350px;
  /* Hoặc kích thước cố định bạn muốn */
}

.vertical-separator {
  border-left: 1px solid #ccc;
  /* Стиль cho đường kẻ dọc */
  padding: 5px 10px;
  /* Khoảng cách hai bên đường kẻ */
  font-size: 1.2em;
  /* Điều chỉnh kích thước nếu cần */
  line-height: 1;
  /* Đảm bảo chiều cao dòng không ảnh hưởng */
}

.group-info-gr {
  display: flex;
  align-items: baseline;
  /* Căn chỉnh các phần tử theo chiều dọc ở giữa */
  padding-bottom: 7px;
}

.group-name-gr {
  margin-left: 5px;
  font-size: 21.33px;
}

.description {
  font-size: 18px;
}

strong {
  font-size: 21.33px;
}

.technologies {
  font-size: 21.33px;
  padding-bottom: 10px;
}

.icon {
  /* padding-left: 8px; */
  /* padding-bottom: 8px; */
  width: 28px;
  height: 28.8px;
  vertical-align: middle;
}

.github-link {
  font-size: 21.33px;
}