.taskchart-container {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    min-height: 300px;
    max-height: 500px;
    margin: 10px;
}

.taskchart-title {
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
}