* {
  box-sizing: border-box;
  margin: 0;
}

.main-content-area {
  flex-grow: 1; /* Đây là thuộc tính quan trọng làm cho main content chiếm không gian còn lại */
  margin-left: 0;
  transition: margin-left 0.3s ease, width 0.3s ease; 
}

body.sidebar-expanded .main-content-area {
  margin-left: 16rem; /* 256px for w-64 */
}
body.sidebar-collapsed .main-content-area {
  margin-left: 5rem; /* 80px for w-20 */
}