* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #eceff8;
}

button {
  border: none;
}

h1 {
  font-size: 26.67px;
  font-weight: bold;
}

h2 {
  font-size: 21.33px;
  font-weight: bold;
}

h3 {
  font-size: 16.67px;
  font-weight: bold;
}

h4 {
  font-size: 13.33px;
  font-weight: normal;
}

sub {
  font-size: 8px;
}

label {
  font-size: 10.67px;
  font-weight: bold;
}

.caption {
  font-size: 8px;
}

.body_1 {
  font-size: 13.33px;
}

.body_2 {
  font-size: 10.67px;
  font-weight: 500;
}

.blueForActive {
  color: #6ad2ff;
}

.blueForActive_Background {
  color: #f4f8ff;
}

.blueBackground {
  color: #eceff8;
}
